Django==5.1.15
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
PyJWT==2.13.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
django-cors-headers==4.6.0
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
